
<div class="dyf_header">

    <div id="BancaSellaLogo">
        <img src="../images/LOGO_BSE_PAGAM.jpg" id="dyf_logo_sella"  />
    </div>
    <div id="dyf_menu_scelta_lingua" style="text-align:right">
        <!--<span id="dyf_scelta_lingua_cont">-->
        <div id="dyf_scelta_en">
            <img src="../images/language_english.svg" ID="lngImages" />
            </div>
        <div id="dyf_scelta_it">
            <img src="../images/language_italian.svg" ID="lngImages" />
            </div>
            <!--</span>-->
        </div>
    </div>
    <!--<div id='header'>




        <dl id="loghi">
            <dd><img src="../images/LOGO_BSE_PAGAM.jpg" id="SellaItLogo" /></dd>
            <dd><img src="../images/gb.png" ID="imgEnglish" /></dd>
            <dd><img src="../images/it.png" ID="imgItaly" /></dd>
        </dl>

       
        <div id="dati_riassuntivi">
            <div>Shop : {{merchantName}}</div>
            <div>Amount:{{amount}} {{currency}}</div>
            <
            <dl>
                l>
                <dd><span ID="lblMerchantName">Shop</span></dd>
                <dd><span ID="lblMerchantNameValue">{{merchantName}}</span></dd>
                <dd><span ID="lblCurrency">{{currency}}</span></dd>
                <dd><span ID="lblCurrencyValue">{{amount}}</span></dd>
            </dl>
        </div>
    </div>-->
