#Print{

width:50px;}

#Wrapper HR{
	display:none;
}

#Wrapper div{
	clear:both;

}
#Print IMG{
	margin-top:12px;
}

#Text div{
	margin-top:5px;
}

#PaymentBox span{
	display:block;
}

#UpTickAds
{
    marign-left:0;
    }